.navbar {
  width: 100%;
  background-color: rgb(242, 242, 247);
  font-family: "Rubik", sans-serif;
}

.nav-btn {
  margin-left: 3px;
  margin-right: 3px;
  color: rgb(72, 72, 74);
}

.nav-btn:active {
  background-color: rgb(209, 209, 214);
}

.nav-btn:hover {
  background-color: rgb(229, 229, 234);
}

.nav-btn:active,
.nav-btn:hover {
  border-radius: 10px 10px 10px 10px;
  color: rgb(72, 72, 74);
}

.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s ease all;
}

.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s ease all;
}

.dropdown-menu.show {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s ease all;
}

.dropdown-toggle-split {
  color: rgb(174, 174, 178);
}

@media screen and (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth;
  }
}
