.skills {
  background-color: rgb(99, 99, 102);
  color: rgb(242, 242, 247);
  margin-bottom: 75px;
  font-family: "Rubik", sans-serif;
}

.bar-graph {
  padding: 20px;
}

.skills-header {
  margin: 10px;
  font-weight: bold;
}

.skill {
  padding-right: 100px;
}

.bar-graph .skill {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  opacity: 0;
}

.bar-graph-horizontal > div {
  margin-bottom: 12px;
  width: 100%;
}

.bar-graph-horizontal .skill {
  float: left;
  margin-top: 18px;
  width: 50px;
}

.bar-graph-horizontal .bar {
  border-radius: 3px;
  height: 55px;
  overflow: hidden;
  position: relative;
  width: 0;
}

.bar-graph-one .bar::after {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  color: #fff;
  content: attr(data-percentage);
  font-weight: 700;
  position: absolute;
  right: 16px;
  top: 17px;
}

.bar-graph-one .bar-one .bar {
  background-color: #4c1826;
  -webkit-animation: show-bar-one 1.2s 0.1s forwards;
  -moz-animation: show-bar-one 1.2s 0.1s forwards;
  animation: show-bar-one 1.2s 0.1s forwards;
}

.bar-graph-one .bar-two .bar {
  background-color: #72253a;
  -webkit-animation: show-bar-two 1.2s 0.2s forwards;
  -moz-animation: show-bar-two 1.2s 0.2s forwards;
  animation: show-bar-two 1.2s 0.2s forwards;
}

.bar-graph-one .bar-three .bar {
  background-color: #99324d;
  -webkit-animation: show-bar-three 1.2s 0.3s forwards;
  -moz-animation: show-bar-three 1.2s 0.3s forwards;
  animation: show-bar-three 1.2s 0.3s forwards;
}

.bar-graph-one .bar-four .bar {
  background-color: #bf4162;
  -webkit-animation: show-bar-four 1.2s 0.4s forwards;
  -moz-animation: show-bar-four 1.2s 0.4s forwards;
  animation: show-bar-four 1.2s 0.4s forwards;
}
.bar-graph-one .bar-five .bar {
  background-color: #cc6681;
  -webkit-animation: show-bar-five 1.2s 0.5s forwards;
  -moz-animation: show-bar-five 1.2s 0.5s forwards;
  animation: show-bar-five 1.2s 0.5s forwards;
}
.bar-graph-one .bar-six .bar {
  background-color: #d88ca1;
  -webkit-animation: show-bar-six 1.2s 0.6s forwards;
  -moz-animation: show-bar-six 1.2s 0.6s forwards;
  animation: show-bar-six 1.2s 0.6s forwards;
}
.bar-graph-one .bar-seven .bar {
  background-color: #e5b3bf;
  -webkit-animation: show-bar-seven 1.2s 0.7s forwards;
  -moz-animation: show-bar-seven 1.2s 0.7s forwards;
  animation: show-bar-seven 1.2s 0.7s forwards;
}

/* Bar Graph Horizontal Animations */
@keyframes show-bar-one {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes show-bar-two {
  0% {
    width: 0;
  }
  100% {
    width: 55%;
  }
}

@keyframes show-bar-three {
  0% {
    width: 0;
  }
  100% {
    width: 65%;
  }
}

@keyframes show-bar-four {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}
@keyframes show-bar-five {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@keyframes show-bar-six {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
@keyframes show-bar-seven {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}

@keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes show-bar-one {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@-webkit-keyframes show-bar-two {
  0% {
    width: 0;
  }
  100% {
    width: 55%;
  }
}

@-webkit-keyframes show-bar-three {
  0% {
    width: 0;
  }
  100% {
    width: 65%;
  }
}

@-webkit-keyframes show-bar-four {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}
@-webkit-keyframes show-bar-five {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@-webkit-keyframes show-bar-six {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
@-webkit-keyframes show-bar-seven {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}

@-webkit-keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
