body {
  background-color: rgb(58, 58, 60);
  font-family: "Rubik", sans-serif;
}

footer {
  bottom: 0px;
  font-size: 10px;
  text-align: center;
  color: rgb(99, 99, 102);
  background-color: rgb(242, 242, 247);
  padding: 15px;
  height: 60px;
}

.header {
  font-size: 72px;
  background-color: rgb(242, 242, 247);
}

.navbar {
  width: 100%;
  background-color: rgb(242, 242, 247);
}

.nav-btn {
  margin-left: 3px;
  margin-right: 3px;
}

.nav-btn:hover,
.nav-btn:active {
  border-radius: 10px 10px 10px 10px;
}

.nav-btn:hover {
  background-color: rgb(229, 229, 234);
}

.nav-btn:active {
  background-color: rgb(209, 209, 214);
}

.dropdown-toggle-split {
  color: rgb(174, 174, 178);
}

.active,
.splash-btn,
.resume-btn {
  background-color: rgb(229, 229, 234);
  border-radius: 10px 10px 10px 10px;
}

.splash-btn:hover,
.resume-btn:hover {
  background-color: rgb(209, 209, 214);
}

.splash-btn:active,
.resume-btn:active {
  background-color: rgb(199, 199, 204);
}

.splash-return:hover {
  color: rgb(72, 72, 74);
}

.main {
  margin-top: 50px;
}

.about-me {
  background-color: rgb(99, 99, 102);
  color: rgb(242, 242, 247);
  margin-bottom: 50px;
}

.my-heading {
  margin: 10px;
}

.about-me-text {
  font-size: 18px;
}

.my-face {
  max-width: 100%;
  max-height: auto;
  margin-bottom: 50px;
}

.resume-btn {
  display: flex;
  justify-content: center;
}

.card-container {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
}

/* The text on top of each image in the portfolio */
.image-text {
  color: rgb(242, 242, 247);
  font-size: 20px;
  padding: 5px;
  width: 100%;
  bottom: 20px;
}

.header,
.image-text {
  text-align: center;
}

/* These classes all have bolded text */
.header,
.my-heading {
  font-weight: bold;
}

.contact-text {
  font-size: 18px;
}

.splash-page {
  height: 200px;
  width: 400px;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

/* Styling links to social media */
a:link {
  color: rgb(99, 99, 102);
}

a:visited {
  color: rgb(99, 99, 102);
  text-decoration: none;
}
a:hover {
  color: rgb(0, 122, 255);
  text-decoration: none;
}
a:active {
  color: rgb(142, 142, 147);
  text-decoration: none;
}
