/* Background image is a bunch of leaves */
body {
  background-image: url(../images/geometric-leaves.png)
}

/* A fixed footer which stays at the bottom of the screen at all times */
footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  text-align: center;
  color: lightgray;
  background-color: gray;
  padding: 25px;
  height: 70px;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: rgb(41, 174, 179);
  font-size: 10px;
}

/* My name which appears at the top of the screen on sm and xs screens */
.header {
  background-color: rgb(41, 174, 179);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
}

/* Navbar at the top of the screen, not fixed to the top of the screen */
.navbar {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
}

/* My name which appears within the navbar */
.my-name {
  background-color: rgb(41, 174, 179);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: bold;
  padding: 9px;
  margin: -9px;
}

/* Portfolio button in the navbar which has borders on each side, spacing the three menu items apart */
.portfolio-button {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: lightgray; 
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: lightgray;
}


/* The main container on each page */
.about-me {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  margin-bottom: 200px;
}

/* The heading of the main container on each page */
.my-heading {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(41, 174, 179);
  margin: 10px;
}

/* Picture of me on the Index page */
.my-face {
  float: left;
  margin-right: 10px;
}

/* Main text within the About Me section on the Index */
.about-me-text {
  font-size: 14px;
  color: grey;
}

/* The container within the main container on the Portfolio page, which houses all of my projects */
.card-container {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  
}

/* The text on top of each image in the portfolio */
.image-text {
  text-align: center;
  background-color: rgb(41, 174, 179);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  padding: 5px;
  width: 200px;
  position: absolute;
  bottom: 20px;
  
}

/* The submit button on the Contact page */
.submit-button {
  text-align: center;
  background-color: rgb(41, 174, 179);
  color: white;
  margin-bottom: 20px;
}