/* Background image is a bunch of leaves */
body {
  background-image: url(../images/geometric-leaves.png);
}

/* A fixed footer which stays at the bottom of the viewport at all times */
footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  text-align: center;
  color: lightgray;
  background-color: gray;
  padding: 25px;
  height: 70px;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: rgb(41, 174, 179);
  font-size: 10px;
}

/* My name which appears at the top of the viewport on sm and xs viewports */
.header {
  font-size: 72px;
}

/* Navbar at the top of the viewport, not fixed to the top of the viewport */
.navbar {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
}

/* My name which appears within the navbar */
.my-name {
  font-size: 28px;
  padding: 9px;
  margin: -9px;
}

/* Portfolio button in the navbar which has borders on each side, spacing the three menu items apart */
.portfolio-button {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: lightgray;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: lightgray;
}

/* The main container on each page */
.about-me {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  margin-bottom: 100px;
}

/* The heading of the main container on each page */
.my-heading {
  color: rgb(41, 174, 179);
  margin: 10px;
}

/* Picture of me on the Index page for medium or larger viewports */
.my-face,
.my-face-2 {
  float: left;
  margin-right: 10px;
}

/* Picture of me on the Index page for small or extra small viewports*/
.my-face-2 {
  margin-bottom: 10px;
}

/* Main text within the About Me section on the Index */
.about-me-text {
  font-size: 14px;
  color: grey;
}

/* The container within the main container on the Portfolio page, which houses all of my projects */
.card-container {
  position: relative;
  padding: 0;
}

/* The submit button on the contact page as well as the card container from the portfolio page both use the same bottom margin */
.card-container,
.submit-button {
  margin-bottom: 20px;
}

/* The text on top of each image in the portfolio */
.image-text,
.image-text-2 {
  font-size: 20px;
  padding: 5px;
  width: 500px;
  position: absolute;
  bottom: 20px;
}

/* Width of the image-text must change due to the size of the images increasing */
.image-text-2 {
  width: 400px;
}

/* These classes all use the same font */
.header,
.my-name,
.my-heading,
.image-text,
.image-text-2 {
  font-family: "Times New Roman", Times, serif;
}

/* These classes all use the same color, background color, and alignment */
.header,
.my-name,
.image-text,
.image-text-2,
.submit-button {
  background-color: rgb(41, 174, 179);
  color: white;
  text-align: center;
}

/* These classes all have bolded text */
.header,
.my-name,
.my-heading {
  font-weight: bold;
}

/* Styling links to social media */
/* Links are normally light grey */
a:link {
  color: lightgrey;
}

/* Once visited they will remain grey */
a:visited {
  color: lightgrey;
}

/* When hovering over the links, they will be midnight blue */
a:hover {
  color: midnightblue;
}

/* clicking on the link makes it the following shade of blue/green */
a:active {
  color: rgb(41, 144, 148);
}
