.about-me {
  background-color: rgb(99, 99, 102);
  color: rgb(242, 242, 247);
  margin-bottom: 50px;
}

.my-heading {
  font-weight: bold;
  margin: 10px;
}

.image-text {
  color: rgb(242, 242, 247);
  font-size: 20px;
  text-align: center;
  padding: 5px;
  width: 100%;
  bottom: 20px;
}

.image-text:hover {
  color: rgb(209, 209, 214);
  text-decoration: none;
}

.image-text:active {
  color: rgb(199, 199, 204);
}
