.contact {
  color: rgb(242, 242, 247);
  font-size: 18px;
}

.contact-text {
  background-color: rgb(109, 109, 112);
  margin-bottom: 20px;
  padding: 30px;
}

.contact__info {
  margin-bottom: 20px;
}

.ramen {
  max-width: 100%;
  max-height: auto;
  margin-bottom: 20px;
}
