.header {
  font-size: 72px;
  background-color: rgb(242, 242, 247);
  text-align: center;
  font-weight: bold;
}

.splash-return {
  color: rgb(72, 72, 74);
}

.splash-return:hover {
  color: rgb(44, 44, 46);
  text-decoration: none;
}

.splash-return:active {
  color: rgb(28, 28, 30);
}
