.img-txt {
  color: rgb(242, 242, 247);
  font-size: 20px;
  text-align: center;
  padding: 5px;
  width: 100%;
  bottom: 20px;
}

.img-txt:hover {
  color: rgb(209, 209, 214);
  text-decoration: none;
}

.img-txt:active {
  color: rgb(199, 199, 204);
}
