div[role="alert"] {
  color: red;
  margin-top: 1em;
}

.emailForm {
  background-color: rgb(109, 109, 112);
  color: rgb(242, 242, 247);
  margin-bottom: 20px;
  padding: 30px;
}

.message-chars-left {
  margin: auto;
  float: left;
  opacity: 0.5;
}

.btn {
  margin-top: 10px;
}

.status-message {
  opacity: 0;
}

.success {
  opacity: 1;
  color: green;
}

.failure {
  opacity: 1;
  color: red;
}
