.navbar {
  background-color: rgb(242, 242, 247);
  width: 100%;
}

.nav-btn {
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(72, 72, 74);
}

.nav-btn:hover {
  background-color: rgb(229, 229, 234);
  border-radius: 10px 10px 10px 10px;
}
