.navbar {
  width: 100%;
  background-color: rgb(242, 242, 247);
}

.nav-btn {
  color: rgb(72, 72, 74);
  margin: 5px;
}

.nav-btn:hover {
  background-color: rgb(229, 229, 234);
}

.nav-btn:active {
  background-color: rgb(209, 209, 214);
}

.nav-btn:hover,
.nav-btn:active {
  border-radius: 10px 10px 10px 10px;
  color: rgb(72, 72, 74);
}
