footer {
  font-size: 14px;
  bottom: 0px;
  text-align: center;
  background-color: rgb(242, 242, 247);
  height: 80px;
}

.footer-text {
  color: rgb(99, 99, 102);
}

.footer-text:hover {
  color: rgb(44, 44, 46);
  text-decoration: none;
}